@model coursework.Models.Requests

@{
    ViewBag.Title = "Удалить";
}

<h2>Удалить</h2>

<h3>Вы действительно хотите удалить это?</h3>
<div>
    <h4>Заявка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата открытия заявки
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OpenDate)
        </dd>

        <dt>
            Статус заявки
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Клиент
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Clients.LastName)
        </dd>

        <dt>
            Услуга
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Services.Name)
        </dd>

        <dt>
            Работник
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.LastName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-danger" /> |
            @Html.ActionLink("Вернуться назад", "Index")
        </div>
    }
</div>
