@model coursework.Models.Users

@{
    ViewBag.Title = "Просмотр";
}

<h2>Просмотр</h2>
@if (ViewBag.userRole == 1)
{
    <div>
        <h4>Пользователь</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Логин
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>

            <dt>
                Пароль
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                Роль
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Roles.Name)
            </dd>

            <dt>
                Фамилия
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                Имя
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                Отчество
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patronymic)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Вернуться назад", "Index")
    </p>
}
else
{
    <div>
        <p class="lead" style="color: red;">@ViewBag.Message</p>
    </div>
}