@model IEnumerable<coursework.Models.Positions>

@{
    ViewBag.Title = "Должности";
}

<h2>Должности</h2>

<p>
    @Html.ActionLink("Добавить новую запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Название должности
        </th>
        <th>
            Описание должности
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Просмотр", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
