<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Справочник службы быта</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*подключение библиотеки с красивыми alert*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Справочник службы быта", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @{
                        try
                        {
                            //если пользователь - админ, то
                            if (Session["RoleId"] != null && Session["RoleId"].ToString() == "1")
                            {
                                //показываем админ панель и логи
                                <li>@Html.ActionLink("Управление пользователями", "Index", "Administration", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Логи", "Index", "LoginLogs", new { area = "" }, new { @class = "nav-link" })</li>
                            }
                        }
                        catch (Exception)
                        {
                            throw;
                        }
                    }
                </ul>
                <ul class="navbar-nav pull-right">
                    @{
                        try
                        {
                            //если в куки есть что то (способ на стороне клиента)
                            if (Session["Username"] != null)
                            {
                                <li>@Html.ActionLink(Session["Username"].ToString(), "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                <li>@Html.ActionLink("Выход", "Logout", "MyAccount", new { area = "" }, new { @class = "nav-link" })</li>
                            }
                        }
                        catch (Exception)
                        {
                            throw;
                        }
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Справочник службы быта</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
