@model coursework.Models.LoginLogs

@{
    ViewBag.Title = "Просмотр";
}

<h2>Просмотр</h2>

<div>
    <h4>LoginLogs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Users.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться назад", "Index")
</p>
