@model IEnumerable<coursework.Models.LoginLogs>

@{
    ViewBag.Title = "Логи";
}

<h2>Логи</h2>
@if (ViewBag.access)
{
    <table class="table">
        <tr>
            <th>
                Логин
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Время входа в систему
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employees.Patronymic)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginTime)
                </td>
                
            </tr>
        }

    </table>
}
else
{
    <div>
        <p class="lead" style="color: red;">@ViewBag.Message</p>
    </div>
}